<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

<header>
    <% include partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Gestion de voiture</h1>
        <p>
            <%voitures.forEach(function(datas){%>
                <ul class="list-group mt-2">
                    <li class="list-group-item disabled"><%= datas.marque%></li>
                    <li class="list-group-item"><%= datas.img%></li>
                    <li class="list-group-item"><%= datas.puissance%></li>
                    <li class="list-group-item"><%= datas.motorisation%></li>
                    <li class="list-group-item"><%= datas.prix%></li>
                    <!-- <li class="list-group-item"><%= datas.couleur%></li> -->
                    <li class="list-group-item"><%= datas.nbporte%></li>
                    <li class="list-group-item"><%= datas.nbplace%></li>
                  </ul>
                
                
            </p> <% }); %>
        </p>
    </div>
</main>
<script src= "script.js"></script>
<footer>
    <% include partials/footer %>
</footer>

</body>
</html>
